<% content_for :title do %>
  Review - <%= @term.label.empty? ? @term.id : @term.id + "-" + @term.label.first[0...20] %>
<% end %>

<h2><%= @term.rdf_label.first %></h2>
<h3 class="uri"><%= @term.rdf_subject %></h3>

<table class="table table-condensed" style="margin-top: 20px;">
  <% unless @term.vocabulary? || @term.predicate? %>
    <%= render partial: "terms/term_row_type", locals: { type: @term.titleized_type } %>
  <% end %>
  <%= render partial: 'terms/term_row', collection: @term.fields, cache: true, as: :field %>
</table>

<% if !@term.commit_history.nil? %>
  <%= render :partial => "history", locals: {:term => @term} %>
<% end %>

<p>Change history is temporarily turned off. If needed, changes may be available for this term <a href="https://github.com/OregonDigital/opaquenamespace-data/blob/master/<%= @term.id %>.nt">here</a>.</p>

  <% if current_user && current_user.administrative? %>
    <% if current_user.reviewer? || current_user.admin? %>
      <% if @term.vocabulary? %>
        <%= link_to "Mark as reviewed", mark_vocabulary_path(@term.id ), {:class=>'btn btn-default', :value=>'review'} %>

      <% elsif @term.predicate? %>
        <%= link_to "Mark as reviewed", mark_predicate_path(@term.id ), {:class=>'btn btn-default', :value=>'review'} %>

      <% else %>
        <%= link_to "Mark as reviewed", mark_term_path(@term.id ), {:class=>'btn btn-default', :value=>'review'} %>
      <% end %>
    <% end %>

    <%= link_to "Edit", review_edit_path(@term.id), {:class=>'btn btn-default', :value=>'edit', :method => :patch} %>
    <%= link_to "Discard changes", review_discard_path(@term.id), {:class=>'btn btn-default', :value=>'discard', :method => :patch} %>

  <% end %>

  <%= link_to "Return to Review Queue", review_queue_path  %>



