<%-# Relies on app/assets/javascripts/term_type_select.js for functionality -%>
<label class="control-label" for="vocabulary_">Term Type</label>
<div class="form-group term_type">
  <div>
    <div class="input-group col-sm-12">
      <select class="form-control" id="term_type" name="term_type" <%= disabled == true ? "disabled='disabled'" : "" %>>
        <% TermType.models.each do |model| %>
          <option value="<%= model.constantize %>"
                  data-url="<%= model.constantize.uri %>"
                  <%= TermType.class_from_types(term.type) == model.constantize ? "selected='selected'" : "" %>><%= model.constantize.option_text %></option>
        <% end %>
      </select>
    </div>
  </div>
</div>
