<% content_for :title do %>
    <%= @term.id %>
<% end %>
<h2><%= @term.rdf_label.first %></h2>
<h3 class="uri"><%= @term.rdf_subject %></h3>

<% if @term.deprecated? %>
    <div class="alert alert-warning">
      <strong>Deprecated</strong> -
      <%= :is_replaced_by.to_s.humanize %>
      <% if @term.get_values(:is_replaced_by).first.is_a?(String) %>
        <%= link_to @term.get_values(:is_replaced_by).first, @term.get_values(:is_replaced_by).first %>
      <% else %>
        <%= link_to @term.get_values(:is_replaced_by).first.rdf_subject.to_s, @term.get_values(:is_replaced_by).first.rdf_subject.to_s %>
      <% end %>
    </div>
<% end %>

<div class="hidden-unless-admin">
  <% if @term.vocabulary? %>
      <%= link_to "Create Term", new_term_path(:vocabulary_id => @term.id), { :class => 'btn btn-default' } %>
      <%= link_to "Edit", edit_vocabulary_path(@term), { :class => 'btn btn-default' } %>
  <% elsif @term.predicate? %>
      <%= link_to "Edit", edit_predicate_path(@term), { :class => 'btn btn-default' } %>
  <% else %>
      <%= link_to "Edit", edit_term_path(@term), { :class => 'btn btn-default' } %>
  <% end %>
  <%= link_to "Manage cache", cache_term_path(@term), { :class => 'btn btn-default' } %>
</div>

<% if @term.term_id.hasParent? %>
    <%= link_to "Return to Vocabulary", term_path(:id => @term.term_uri_vocabulary_id) %>
<% end %>
<table class="table table-condensed" style="margin-top: 20px;">
  <% unless @term.vocabulary? || @term.predicate? %>
      <%= render partial: "terms/term_row_type", locals: { type: @term.titleized_type } %>
  <% end %>
  <%= render partial: 'terms/term_row', collection: @term.fields, cache: true, as: :field %>
</table>

<p>
  <br/>
  <strong>Other Formats:</strong>
  <%= link_to "N-Triples", term_path(:id=>@term.id) + '.nt' %>
  , <%= link_to "JSON-LD", term_path(:id=>@term.id) + '.jsonld' %>
</p>

<%# TODO: Replace commit history functionality, currently very slow and causes memory leakage %>
<%# if !@term.commit_history.nil? %>
<%#= render :partial => "terms/history", locals: { :term => @term } %>
<%# end %>

<% if @term.vocabulary? %>
    <h3><%= I18n.t("vocabulary.children_header") %></h3>

    <table class="table table-striped">
      <%= render partial: 'terms/vocab_child', collection: @term.children.sort_by { |child| child.label.to_s.downcase }, cache: true, as: :child %>
    </table>
<% end %>
