<% content_for :title do %>
  <%= @term.id %>
<% end %>

<h2><%= @term.rdf_label.first %></h2>
<h3 class="uri"><%= @term.rdf_subject %></h3>

<% if !@term.get_values(:is_replaced_by).empty? %>
  <div class="alert alert-warning">
    <strong>Deprecated</strong> - 
      <%= :is_replaced_by.to_s.humanize %>
      <%= link_to @term.get_values(:is_replaced_by).first, @term.get_values(:is_replaced_by).first %>

  </div>
<% end %>
 
<% if @term.vocabulary? %>
<%= link_to "Create Term", new_term_path(:vocabulary_id => @term.id),    {:class=>'btn btn-default'} %>
<% end %>
<p><%= link_to "Edit", polymorphic_path([:edit, @term]), {:class=>'btn btn-default'} %>

<br/><%= link_to "Return to Vocabulary", term_path(:id => @term.term_uri_vocabulary_id) unless @term.vocabulary? %></p>

<table class="table table-condensed">
  <% @term.fields.each do |field| %>
    <tr>
      <th scope="row"><%= field.to_s.humanize %>:</th>
      <td>
        <%= @term.get_values(field).join("; ") %>
      </td>
    </tr>
  <% end %>
</table>

<p><br/><strong>Other Formats:</strong> <%= link_to "N-Triples", request.original_url + '.nt'  %>, <%= link_to "JSON-LD", request.original_url + '.jsonld' %>

<%= render("vocab_children", :vocabulary => @term) if @term.vocabulary? %>


