<h1><%= @term.id %></h2>
<h2><%= @term.rdf_subject %></h4>
<% if @term.vocabulary? %>
<%= link_to "Create Term", new_term_path(:vocabulary_id => @term.id),    {:class=>'btn btn-default'} %>
<% end %>
<p><%= link_to "Edit", polymorphic_path([:edit, @term]), {:class=>'btn btn-default'} %>

<br/><%= link_to "Return to Vocabulary", term_path(:id => @term.term_uri_vocabulary_id) unless @term.vocabulary? %></p>

<dl>
  <% @term.fields.each do |field| %>
    <dt><%= field.to_s.humanize %>:</dt>
    <% @term.get_values(field).each do |value| %>
      <dd><%= value %></dd>
    <% end %>
  <% end %>
</dl>

<p><br/><strong>Other Formats:</strong> <%= link_to "N-Triples", request.original_url + '.nt'  %>, <%= link_to "JSON-LD", request.original_url + '.jsonld' %>

<%= render("vocab_children", :vocabulary => @term) if @term.vocabulary? %>
