<% content_for :title do %>
  <%= @term.id %>
<% end %>

<h2><%= @term.rdf_label.first %></h2>
<h3 class="uri"><%= @term.rdf_subject %></h3>

<% if @term.deprecated? %>
  <div class="alert alert-warning">
    <strong>Deprecated</strong> -
    <%= :is_replaced_by.to_s.humanize %>
    <%= link_to @term.get_values(:is_replaced_by).first, @term.get_values(:is_replaced_by).first %>
  </div>
<% end %>
<%- if current_user && current_user.admin? %>
  <% if @term.vocabulary? %>
    <%= link_to "Create Term", new_term_path(:vocabulary_id => @term.id), {:class=>'btn btn-default'} %>
  <% end %>
  <%= link_to "Edit", polymorphic_path([:edit, @term]), {:class=>'btn btn-default'} %>
<% end %>
<% if @term.term_id.hasParent? %>
  <%= link_to "Return to Vocabulary", term_path(:id => @term.term_uri_vocabulary_id)  %>
<% end %>
<table class="table table-condensed" style="margin-top: 20px;">
  <% @term.fields.each do |field| %>
    <%= render :partial => "terms/term_row", locals: {:field => field} %>
  <% end %>
</table>

<p><br/><strong>Other Formats:</strong> <%= link_to "N-Triples", request.original_url + '.nt'  %>, <%= link_to "JSON-LD", request.original_url + '.jsonld' %>

<% if !@term.commit_history.nil? %>
  <%= render :partial => "terms/history", locals: {:term => @term} %>
<% end %>

<%= render("terms/vocab_children", :vocabulary => @term) if @term.vocabulary? %>
