
<h2><%= @term.id %></h2>
<h4><%= @term.base_uri + @term.id %></h4>
<%= link_to "Create Term", new_term_path(:vocabulary_id => @term.id) if @term.vocabulary? %>

<dl>
  <dt>Label:</dt>
  <% @term.label.each do |label| %>
    <dd><%= label %></dd>
  <% end %>
  <dt>Comment:</dt>
  <% @term.comment.each do |comment| %>
    <dd><%= comment %></dd>
  <% end %>
  <dt>Issued:</dt>
  <% @term.issued.each do |issued| %>
    <dd><%= issued %></dd>
  <% end %>
  <dt>Modified:</dt>
  <% @term.modified.each do |modified| %>
    <dd><%= modified %></dd>
  <% end %>
</dl>

<p><br/><strong>Other Formats:</strong> <%= link_to "N-Triples", request.original_url + '.nt'  %>, <%= link_to "JSON-LD", request.original_url + '.jsonld' %>

<%= render("vocab_children", :vocabulary => @term) if @term.vocabulary? %>
