<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">

    <div class="container cvm-top-bar">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "opaquenamespace.org", '/', class: "navbar-brand"%>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Vocabularies", vocabularies_path %></li>
        <li><%= link_to "Predicates", predicates_path %></li>
        <li><%= link_to "Search", search_catalog_path %></li>
        <%# @skip_render aids in page_caching all but the dynamic/user related content which gets loaded by update_user_data_on_cached_page.js ajax %>
        <% if current_user && current_user.administrative? && !@skip_render %>
          <li><%= link_to "Review", review_queue_path %></li>
        <% end %>
      </ul>

      <%# @skip_render aids in page_caching all but the dynamic/user related content which gets loaded by update_user_data_on_cached_page.js ajax %>
      <% if current_user && !@skip_render %>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user"></i>
              <%= current_user.name || current_user.email %><span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <% if current_user.admin? %>
                <li><%= link_to "Import External RDF", import_rdf_form_path %></li>
                <li><%= link_to "Load RDF", load_rdf_form_path %></li>
                <li><%= link_to "Admin Dashboard", admin_path %></li>
              <% end %>

              <li role="separator" class="divider"></li>
              <li><%= link_to "Logout", destroy_user_session_path %></li>

            </ul>
          </li>
        </ul>
      <% else %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Login", "/users/sign_in" %></li>
        </ul>
      <% end %>
    </div><!-- /.navbar-collapse -->

    </div>
  </div><!-- /.container-fluid -->
</nav>

