<% content_for :title do %>
  Preview RDF -
<% end %>
<h2>Import RDF</h2>

<%= render :partial => "form", :locals => {:form => @form} %>

<h2>Preview</h2>

<h3>Vocabulary</h3>
<p>A new vocabulary will be created:</p>

<dl class="dl-horizontal">
  <dt>ID</dt>           <dd><%= @vocabulary.id %></dd>
  <dt>Subject</dt>      <dd><%= @vocabulary.rdf_subject %></dd>
  <dt>Title</dt>        <dd><%= @vocabulary.title.join(", ") %></dd>
  <dt>Publisher</dt>    <dd><%= @vocabulary.publisher.join(", ") %></dd>
</dl>

<h3>Terms</h3>
<p>The following terms will be added to the vocabulary <i><%= @vocabulary.rdf_subject %></i></p>

<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>ID (suffix)</th>
      <th>Label</th>
      <th>Comment</th>
    </tr>
  </thead>

  <tbody>
    <% for term in @terms %>
      <%= render :partial => "termlist", :locals => {:namespace => @vocabulary.id, :term => term} %>
    <% end %>
  </tbody>
</table>
