<%= simple_form_for(vocabulary) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= render :partial => "form_attribute", :locals => {:vocabulary => vocabulary, :attribute => :label, :form => f} %>
    <%= render :partial => "form_attribute", :locals => {:vocabulary => vocabulary, :attribute => :comment, :form => f} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
