<%= simple_form_for(vocabulary) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :id, :label => "ID" %>
    <%= vocabulary.editable_fields.each do |field| %>
      <%= render :partial => "form_attribute", :locals => {:vocabulary => vocabulary, :attribute => field, :form => f} %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
