<select class="form-control language-select"
name="<%= "vocabulary[language][#{attribute.to_s}][]" %>"
        id="<%= "#{attribute}_select_#{index}" %>"
        data-default-language="<%= form.object.default_language %>" >
        <% ControlledVocabManager::IsoLanguageTranslator.language_list.each_pair do |symbol, string| %>
          <% unless symbol == :he || symbol == :id || symbol == :yi%>
            <% if form.object.literal_language_list_for_property(attribute).length > 0 %>
              <option value=<%= symbol %>
            <%= form.object.literal_language_list_for_property(attribute)[index].first.language == symbol ? "selected='selected'" : "" %>>
            <%= string %>
              </option>
            <% else %>
              <option value=<%= symbol %>
            <%= form.object.default_language == symbol ? "selected='selected'" : "" %>>
            <%= string %>
              </option>
            <% end %>
          <% end %>
        <% end %>
</select>
