<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Institution</th>
      <th></th>
    </tr>
  </thead>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.role %></td>
      <td><%= user.institution %></td>
      <td><%= link_to "Edit", edit_admin_user_path(user) %></td>
    </tr>

  <% end %>
</table>
