<% content_for :title do %>
  Admin / Edit User: <%= @user.name %>
<% end %>

<h3>Edit User</h3>

<%= simple_form_for(@user, url: admin_user_path(@user)) do |f| %>

  <%= f.input :name, :required => true %><br>
  <%= f.input :email, :required => true %><br>

  <%= f.input :role, 
  :collection => [ ["admin reviewer editor", "Admin Reviewer Editor"], ["reviewer editor", "Reviewer Editor"], ["editor", "Editor"]], 
  :label_method => :last, 
  :value_method => :first, 
  :as => :radio_buttons,
  :required => true %>

  <%= f.input :institution, collection: ["Oregon State University", "University of Oregon"], as: :radio_buttons, selected: @user.institution, :required => true %><br>

  <%= f.button :submit %>
<% end %>
